amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
Brotli==1.1.0
celery==5.4.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crypto==1.4.1
cssselect2==0.7.0
dj-database-url==2.3.0
Django==5.1.4
django-ckeditor==6.7.2
django-jazzmin==3.0.1
django-js-asset==3.0.1
fonttools==4.55.3
gunicorn==23.0.0
idna==3.10
# integration-portal @ file:///home/corteisjr/estudos/ecommerce/portal-sdk
kombu==5.4.2
Naked==0.1.32
packaging==24.2
pillow==11.0.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.21.0
pydyf==0.11.0
pyphen==0.17.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
shellescape==3.8.1
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
weasyprint==63.1
webencodings==0.5.1
whitenoise==6.8.2
XlsxWriter==3.2.0
zopfli==0.2.3.post1
