{% extends 'base.html' %}


{% block title %}
Trocar a senha
{% endblock title %}


{% block content %}

{% if form.errors %}
<div class="shadow-custom messages alert alert-danger col-lg-5 mx-auto text-center">
    Impossível atualizar a senha.
    Verifique as credenciais e tente novamente!!
</div>
{% endif %}

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-3 font-weight-bold text-grey text-center">
        Alterar senha
    </h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-field">
            <label for="old_password" class="text-muted">Senha anterior</label>
            <input type="password" class="form-control" name="old_password" autofocus required id="id_old_password">
        </div>
        <div class="input-field">
            <label for="new_password1" class="text-muted">Nova senha</label>
            <input type="password" class="form-control" name="new_password1" autofocus required id="id_new_password1">
        </div>
        <div class="input-field">
            <label for="new_password2" class="text-muted">Confirme a nova senha</label>
            <input type="password" class="form-control" name="new_password2" autofocus required id="id_new_password2">
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">Mudar senha</button>
    </form>
</div>

{% endblock content %}