{% extends 'base.html' %}


{% block title %}
Registrado com sucesso
{% endblock title %}


{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 text-center">
    <h3 class="py-2 font-weight-bold text-grey">
        Senha atualizada
    </h3>
    <hr class="my-0">
    <div class="py-2">
        Senha atualizada com sucesso!!
        Clique <a href="{% url 'login'%}" target="_blank" rel="noopener noreferrer">Aqui</a> para acessar o sistema.
    </div>
</div>
{% endblock content %}