{% extends 'base.html' %}


{% block title %}
Redefinir Senha
{% endblock title %}


{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Esqueceu a senha?
    </h3>
    <p class="text-center">
        Por favor, insira o seu e-mail para receber as instruções de redefinição de senha.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-field">
            <label for="email" class="text-muted">Email</label>
            <input type="email" class="form-control" name="email" required id="id_email">
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Enviar email
        </button>
    </form>
</div>
{% endblock content %}