{% extends 'base.html' %}


{% block title %}
Redefinição de senha
{% endblock title %}


{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 text-center">
    <h3 class="py-2 font-weight-bold text-grey">
        Redefinição de senha
    </h3>
    <hr class="my-0">
    <div class="py-2">
        Nos o enviamos um email, com instruções para redefinir sua senha.
        Caso não tenha recebido nenhum email, por favor verifique se adicionou a senha correta.
    </div>
</div>
{% endblock content %}