{% extends 'base.html' %}


{% block title %}
Pedido #{{order.id}} criado
{% endblock title %}


{% block content %}
<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3">
    <div class="py-3">
        <h3 class="text-center">🍔Obriado pelo seu pedio. O número do seu pedido é <strong>{{order.id}}</strong></h3>
    </div>
    <div class="text-center">
        Estamos preparando seu pedido com muito carinho e em breve ele estará a caminho para matar sua fome e deixar seu
        dia ainda mais delicioso😋! Em caso de alguma dúvida não exite em nos contactar.
    </div>
</div>
{% endblock content %}